# Test Envirolment
NODE_ENV="test"

## API URLS
APP_API_URL=
FORGOT_MAIL_URL = 

## AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=

#SenGrid Api Key
SENDGRID_API_KEY=

#Storage
DISK="s3"

#Email
MAIL_PROVIDER="ethereal"
