<style>
  .contianer { width: 800px; font-family: Arial, Helvetica, sans-serif;
  align-items: center; display: flex, flex-direction: column }, span { margin:
  30px; }

</style>

<div>
  <span>Oi, {{name}}</span>

  <br />

  <span>Voce solicitou a alteração da senha</span>
  <span>Para realizar a troca da senha, clique no link
    <a href={{name}}>{{link}}</a>
  </span>

  <span>Caso não tenha sido voce que realizaou a alteração da senha, basta
    ignorar esse email</span>

  <strong>Obrigado</strong>
  <h3>Equipe Rentx</h3>
</div>