<html lang="en">
  <head>
    <style>
      .contianer { width: 800px; font-family: Arial, Helvetica, sans-serif;
      align-items: center; }, span { margin: 30px; }

    </style>
  </head>
  <body>
    <div>
      <span>Oi, {{name}}</span>

      <br />
      <br />

      <span>Voce solicitou a alteração da senha</span>
      <br />
      <span>Para realizar a troca da senha, clique no link
        <strong> <a href={{name}}>{{link}}</a> </strong>
      </span>
      <br />

      <span>Caso não tenha sido voce que realizaou a alteração da senha, basta
        ignorar esse email</span>

      <br />
      <br />
      <br />

      <strong>Obrigado</strong>
      <h3>Equipe Rentx</h3>
    </div>
  </body>
</html>